.navbar {
    background-color: rgb(255, 189, 252);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid white;
}

.menu-bars {
    margin-right: 40px;
    font-size: 35px;
    background: none;
}

.nav-menu {
    background-color: rgb(255, 173, 251);
    width: 250px;
    height: 750px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 100%;
    transition: 950ms;
}

.nav-menu.active {
   right: 0; 
   transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 8px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: rgb(173, 207, 238);
}

.nav-menu-items {
    width: 100%;
    color: #000;
}

.navbar-toggle {
    background-color: rgb(255, 173, 251);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

span {
    margin-left: 16px;
}

.logo {
    height: 90px;
    display: flex; 
    margin-right: 550px;
}